<h3 class="text-primary text-center">C06Parking kính thông báo</h3>
<hr>
<div *ngIf="message == 'complete'">
  <p>Quý khách đã gia hạn vé thành công.</p>
  <p>Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi!</p>
</div>
<div *ngIf="message == 'failed'">
  <p>Đã có lỗi xảy ra.</p>
  <p>Quý khách vui lòng liên hệ nhân viên để khắc phục sự cố. Mong quý khách thông cảm! Xin cảm ơn!</p>
</div>
<br>
<div class="row d-flex justify-content-end">
  <button mat-dialog-close class="btn btn-primary mr-3">OK</button>
</div>
 
