<div class="loginPage container-fluid">
  <div class="row" style="height: 100vh">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12 col-xs-12">
      <div class="col-lg-4 container-fluid "></div>
      <div class="col-lg-4 container-fluid shadow-lg p-3 mb-5 bg-white rounded  my-5"
           style="background-color: white; border-radius: 5px">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="row d-flex justify-content-center">
            <p class="text-danger d-flex justify-content-center">{{messageError}}</p>
            <h3 class="text-center mt-3">Đăng nhập</h3>
          </div>
          <div class="row input-group  mx-auto mt-2  ">
            <div class="input-group-prepend">
              <span class="input-group-text">&nbsp;<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            </div>
            <input type="text" class="form-control" formControlName="username"
                   placeholder="Tài khoản" style="height: 45px">
          </div>
          <div class="row d-flex justify-content-center ">
            <p *ngIf="loginForm.controls.username.errors?.required &&
              loginForm.controls.username.touched"
               class="text-danger">
              Vui lòng nhập tên tên khoản và không để trống
            </p>
          </div>
          <div class="row input-group mx-auto mt-3 ">
            <div class="input-group-prepend">
              <span class="input-group-text">&nbsp;<i class="fa fa-key" aria-hidden="true"></i>&nbsp;</span>
            </div>
            <input type="password" formControlName="password" class="form-control"
                   placeholder="Mật Khẩu" style="height: 45px">
          </div>
          <div class="row d-flex justify-content-center mt-1">
            <p *ngIf="loginForm.controls.password.errors?.required &&
              loginForm.controls.password.touched"
               class="text-danger">
              Vui lòng nhập mật khẩu và không để trống
            </p>
          </div>
          <div class="row d-flex justify-content-center mt-1">
            <p *ngIf="loginForm.controls.password.errors?.pattern &&
              loginForm.controls.password.touched"
               class="text-danger">
              Mật khẩu yêu cầu phải lớn hơn 6 ký tự và không có ký tự đặc biệt.
            </p>
          </div>

          <div class="row mt-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 d-flex justify-content-center">
              <div class="row">
                <button type="submit" (click)="onSubmit()" class=" rounded btn btn-danger ">
                  Đăng nhập
                </button>
                <button type="reset" (click)="resetInput()" class="  rounded btn btn-dark ml-3">
                  Nhập Lại
                </button>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-6 d-flex justify-content-center">
              <a (click)="reset()" style="color: blue">Quên mật khẩu?</a>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
              <a [routerLink]="['/sign-up']">Tạo tài khoản mới?</a>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-lg-4">
              <hr>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">Hoặc</div>
            <div class="col-lg-4">
              <hr>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-lg-12 ">
              <div class="row mt-2 d-flex justify-content-center">
                <button type="button" class="fb btn rounded" (click)="signInWithFB()">
                  <i class="fa fa-facebook fa-fw w-auto"></i> Đăng nhập bằng Facebook
                </button>
              </div>
              <div class="row mt-2 d-flex justify-content-center">
                <button class="google btn rounded " (click)="signInWithGoogle()">
                  <i class="fa fa-google fa-fw"></i>Đăng nhập bằng Google+
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 container-fluid"></div>
    </div>
  </div>
</div>


