<div class="container-fluid p-5">
  <div class="table-responsive ">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4" id="carList">
            <h2 >Lịch sử thanh toán</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover" id="carTable">
        <thead>
        <tr>
          <th>STT</th>
          <th>Ngày thanh toán</th>
          <th>Tổng tiền (VNĐ)</th>
        </tr>
        </thead>
        <tbody>
        <tr
          *ngFor="let invoice of historyPayments |async | paginate: { itemsPerPage: pageSize, currentPage: currentPage,
          totalItems: totalElements} index as i">
          <td>{{(i +1) + (currentPage-1)*5}}</td>
          <td>{{invoice.payDate | date:'dd/MM/yyyy'}}</td>
          <td class="text-right">{{invoice.totalAmount | currency: ' '}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="pagination col-md-3" id="pt">
  <pagination-controls (pageChange)="getPage($event)" previousLabel="Trước"
                       nextLabel="Sau"   responsive="true"></pagination-controls>
</div>




