<h3 class="text-primary text-center">C06Parking kính thông báo</h3>
<hr>
<div>
  <img src="../../../../assets/repair.jpg" alt="repair"/>
  <p id="message">Hệ thống tích hợp thanh toán bằng <span id="momo">MoMo</span> hiện đang bảo trì.</p><br>
  <p>Quý khách vui lòng thanh toán bằng <span id="paypal">PayPal</span> hoặc liên hệ nhân viên để gia hạn.
    Mong quý khách thông cảm! Xin cảm ơn!</p>
</div>
<br>
<div class="row d-flex justify-content-end">
  <button mat-dialog-close class="btn btn-primary mr-4">OK</button>
</div>
