<div class="col-md-6 passwordChange ">
  <div class="bg-white p-4">
    <form [formGroup]="confirmPassWordForm" (ngSubmit)="confirmPassWordFunction()">
      <h2 style="color: black; text-align: center"> Đổi Mật Khẩu Của Bạn </h2>
      <b>
        <hr>
      </b>
      <p><b>Sử dụng form phía dưới để đổi mật khẩu của bạn</b></p>
      <br>
      <br>
      <p style="font-weight: bold">Mật Khẫu Cũ <span class="sao">(*)</span>:</p>
      <div class="form-group">
        <input type="password" class="form-control " formControlName="passwordOld" required="required">
        <p class="text-danger"
           *ngIf="confirmPassWordForm.controls.passwordOld.errors?.pattern && confirmPassWordForm.get('passwordOld').touched">
          Mật khẩu phải chứa ít nhất 1 kí tự thường, một kí tự hoa và có độ dài ít nhất 8 kí tự, tối đa 20 kí tự!
        </p>
        <p class="text-danger"
           *ngIf="confirmPassWordForm.get('passwordOld').hasError('required')
           && confirmPassWordForm.get('passwordOld').touched">
          Vui lòng nhập mật khẩu
        </p>
        <p class="text-danger" *ngIf="message">{{message}}</p>
      </div>
      <p style="font-weight: bold">Mật Khẫu Mới <span class="sao">(*)</span>:</p>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="passwordNew" required="required">
        <p class="text-danger"
           *ngIf="confirmPassWordForm.get('passwordNew').invalid && confirmPassWordForm.get('passwordNew').touched">
          Mật khẩu phải chứa ít nhất 1 kí tự thường, một kí tự hoa và 1 kí tự đặc biệt!
        </p>
        <p class="text-danger"
           *ngIf="confirmPassWordForm.get('passwordNew').hasError('required')
           && confirmPassWordForm.get('passwordNew').touched">
          Vui lòng nhập mật khẩu
        </p>
      </div>
      <p style="font-weight: bold">Xác Nhận Mật Khẩu <span class="sao">(*)</span>:</p>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="confirmPassword" required="required">
        <p class="text-danger"
           *ngIf="confirmPassWordForm.get('confirmPassword').invalid && confirmPassWordForm.get('confirmPassword').touched">
          Mật khẩu phải chứa ít nhất 1 kí tự thường, một kí tự hoa và 1 kí tự đặc biệt!
        </p>
        <p class="text-danger"
           *ngIf="confirmPassWordForm.get('confirmPassword').hasError('required')
           && confirmPassWordForm.get('confirmPassword').touched">
          Vui lòng nhập mật khẩu
        </p>
        <p class="text-danger"
           *ngIf="confirmPassWordForm.hasError('notSame')
           && confirmPassWordForm.get('confirmPassword').touched">
          Xác nhận mật khẩu chưa chính xác
        </p>
      </div>
      <br>
      <br>
      <div class="btn-group d-flex">
        <button type="button" class="btn btn-warning " routerLink="" id="backHome">Hủy</button>
        <button type="submit" class="btn btn-warning" id="change">Xác Nhận</button>
      </div>
    </form>
  </div>

</div>

