.title{
  background: #435d7d;
}
.sao{
  color: red;
}
.passwordChange{
  position: relative;
  left: 280px;
}
#change{
  position: relative;
  left: 12px;
  width: 75px;
  color: white;
}
#backHome{
  position: relative;
  right: 10px;
  background: #424e5d;
  color: white;
}
#change:hover{
  background: black;
}
#backHome:hover{
  background: black;
}
.form-control{
  width: 400px;
}
hr {
  border-color: #007bff;
}
@media (min-width: 1200px){
  .passwordChange {
    width: 100%;
    margin-left: 25px;
  }

}
@media (max-width: 768px) {
  .passwordChange {
    width: 100%;
    background: transparent;
    padding: 10px 20px;
  }
}
