body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://www.ubudu.com/wp-content/uploads/2016/10/parking.jpg");
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.468em + .5rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.table-responsive .table-wrapper {
  background: white;
  padding: 25px 30px;
  border-radius: 3px;
  min-width: 900px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-responsive .table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-responsive .table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
  text-align: center !important;
}

.table-responsive .table-title .btn-group {
  float: right;
}

.table-responsive .table-title .btn {
  color: #fff;
  /*float: right;*/
  font-size: 15px;
  border: none;
  min-width: 55px;
  border-radius: 5px;
  /*border: none;*/
  outline: none !important;
  margin-left: 10px;
}

#btn .table-responsive[_ngcontent-rge-c100] .table-title[_ngcontent-rge-c100] .btn[_ngcontent-rge-c100] i[_ngcontent-rge-c100] {
  float: left;
  font-size: 26px;
  margin-right: 5px;
}

.table-responsive .table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-responsive .table-title .btn span {
  float: left;
  margin-top: 2px;
}

.table-responsive table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 10px;
  vertical-align: middle;
  font-size: 14px;
}

table tr {
  margin-left: 50px;
  font-size: 14px;
}

.table-responsive table.table th {
  /*text-align: center !important;*/
  /*margin-right: 100px;*/
  /*width: 80px;*/
}


.table-responsive table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

.table-responsive table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

.table-responsive table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

.table-responsive table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

.table-responsive table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

.table-responsive table.table td a:hover {
  color: #2196F3;
}

.table-responsive table.table td a.edit {
  color: #FFC107;
}

.table-responsive table.table td a.delete {
  color: #F44336;
}

.table-responsive table.table td i {
  font-size: 19px;
}

.table-responsive table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.table-responsive .pagination {
  float: right;
  margin: 0 0 5px;
}

.table-responsive .pagination li a {
  font-weight: bold;
  border: none;
  font-size: 16px;
  min-width: 30px;
  min-height: 30px;
  color: black;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.table-responsive .pagination li a:hover {
  color: #666;
}

.table-responsive .pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}

.table-responsive .pagination li.active a:hover {
  background: #0397d6;
}


.table-responsive .pagination li.disabled i {
  color: #ccc;
}

.table-responsive .pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
