<div class="container-fluid mt-5 mx-auto">
  <div class="row">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row mb-4">
            <div class="col-7">
              <h2><b>Quản lý vé</b></h2>
            </div>
            <div class="col-5"></div>
          </div>

          <div class="row">
            <div class="col-sm-5">
              <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                class="material-icons">&#xE147;</i> <span>Thêm mới xe</span></a>
            </div>
            <div class="col-sm-2">
              <label style="font-size: 18px; float: right">Chọn trường:</label>
            </div>
            <div class="col-sm-2">
              <select class="custom-select">
                <option value="Price">Tên khách hàng</option>
                <option value="Full name passenger">Ngày bắt đầu</option>
                <option value="Departure">Ngày kết thúc</option>
                <option value="Arrival">Tầng</option>
                <option value="Day departure">vị trí</option>
              </select></div>
            <div class="col-sm-3">
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>ID Car</th>
            <th>Biển số xe</th>
            <th>Tên Khách Hàng</th>
            <th>Ngày Bắt Đầu</th>
            <th>Ngày Kết Thúc</th>
            <th>Tầng</th>
            <th>Vị Trí</th>
            <th>Loại Vé</th>
            <th>Giá</th>
            <th>Tác Vụ</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let element of listMemberCard">
            <td>{{element.id}}</td>
            <td>{{element.car.plateNumber}}</td>
            <td>{{element.car.customer.fullName}}</td>
            <td>{{element.startDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{element.endDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{element.car.parkingSlot.floor}}</td>
            <td>{{element.car.parkingSlot.id}}</td>
            <td>{{element.memberCardType.memberTypeName}}</td>
            <td>{{element.price}}</td>
            <td>
              <button (click)="openDialogEdit(element.id)">
                <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
              </button>
              <button (click)="openDialogDelete(element.id)">
                <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="clearfix">
          <div class="hint-text">Hiển thị <b>5</b> vé trong tổng <b>25</b> vé</div>
          <ul class="pagination">
            <li class="page-item"><a href="#" class="page-link">Trang trước</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Trang sau</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
