<!--parking lot-->
<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-12 border border-dark p-2">
      <div class="row mb-5">
        <div class="col-6 d-flex justify-content-start">
          <span class="d-flex justify-content-center" id="entrance">Cửa vào</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-2 col-sm-3">
          <div class="col-parking d-flex">
            <div class="col-odd">
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
            </div>
            <div class="col-even">
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="col-parking d-flex">
            <div class="col-odd">
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
            </div>
            <div class="col-even">
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">
          <div class="col-parking d-flex">
            <div class="col-odd">
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
            </div>
            <div class="col-even">
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="col-parking d-flex">
            <div class="col-odd">
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
            </div>
            <div class="col-even">
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="col-parking d-flex">
            <div class="col-odd">
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
              <div class="slot-odd d-flex justify-content-center align-items-center"><span
                class="odd-member">1</span>
              </div>
            </div>
            <div class="col-even">
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
              <div class="slot-even d-flex justify-content-center align-items-center"><span
                class="even-member">2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </div>
      <div class="row mt-5">
        <div class="col-6">Số chỗ trống: 50</div>
        <div class="col-6 d-flex justify-content-end">
          <span class="d-flex justify-content-center" id="exit">Cửa ra</span>
        </div>
      </div>
    </div>
  </div>
  <!--    pagination-->
  <div class="row">
    <div class="col-12 border border-dark border-top-0 pt-1">
      <ul class="pagination">
        <li class="page-item">Bản đồ tầng:</li>
        <li class="page-item"><a href="#" class="page-link"><<</a></li>
        <li class="page-item"><a href="#" class="page-link"><</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">></a></li>
        <li class="page-item"><a href="#" class="page-link">>></a></li>
      </ul>
    </div>
  </div>
  <!--    pagination end-->
</div>

