.col-parking {
  width: 200px;
}
.slot-even {
  height: 25px;
  width: 50px;
  border: black 1px solid;
  border-collapse: collapse;
  transform: rotate(45deg);
  margin-top: 10px;
  margin-left: 0;
}

.slot-odd {
  height: 25px;
  width: 50px;
  border: black 1px solid;
  transform: rotate(-45deg);
  margin-top: 10px;
}

.col-even {
  padding-top: 17px;
}
.col-odd {
  width: 35px;
}
.odd-member {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.even-member {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#entrance, #exit {
  border: black 1px solid;
  width: 100px;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px
}
