.container-fluid {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-radius: 4px;
  border-color: #dfe3e8;
}

.navbar {
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #dfe3e8;
  border-radius: 0;
}

.navbar .navbar-brand {
  font-size: 20px;
  padding-left: 0;
  padding-right: 50px;
}

.navbar .navbar-brand b {
  color: #29c68c;
}

.navbar a, .navbar a:active {
  color: #999;
  background: transparent;
}

.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
  color: #29c68c !important;
}

.navbar .navbar-nav > a.active, .navbar .navbar-nav.show > a {
  color: #26bb84 !important;
  background: transparent !important;
}

.navbar .form-inline .input-group-text {
  box-shadow: none;
  border-radius: 2px 0 0 2px;
  background: #f5f5f5;
  border-color: #dfe3e8;
  font-size: 16px;
}

.navbar .form-inline i {
  font-size: 16px;
}

.navbar .form-inline .btn {
  border-radius: 2px;
  color: #fff;
  border-color: #29c68c;
  background: #29c68c;
  outline: none;
}

.navbar .form-inline .btn:hover, .navbar .form-inline .btn:focus {
  border-color: #26bb84;
  background: #26bb84;
}

.navbar .search-form {
  display: inline-block;
}

.navbar .search-form .btn {
  margin-left: 4px;
}

.navbar .search-form .form-control {
  border-radius: 2px;
}

.navbar .login-form .input-group {
  margin-right: 4px;
  float: left;
}

.navbar .login-form .form-control {
  max-width: 158px;
  border-radius: 0 2px 2px 0;
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
}

.navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a {
  padding: 6px 20px;
}

.navbar .login-dropdown .dropdown-menu {
  width: 505px;
  padding: 20px;
  left: auto;
  right: 0;
}

.navbar .login-dropdown .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1200px) {
  .search-form .input-group {
    width: 300px;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .navbar .dropdown-menu {
    width: 100%;
    background: transparent;
    padding: 10px 20px;
  }

  .navbar .input-group {
    width: 100%;
    margin-bottom: 15px;
  }

  .navbar .input-group .form-control {
    max-width: none;
  }

  .navbar .login-form .btn {
    width: 100%;
  }
}

.accordion .card {
  color: #424e5d;
  border: 1px solid #dddddd;
}

.accordion .card a {
  color: #424e5d;
  text-decoration: none;
}

.accordion .card-header {
  background: linear-gradient(#fff, #f1f1f1);
  padding: .75rem 1rem;
  position: relative;
}

.accordion .card-header:hover {
  background: linear-gradient(#f1f1f1, #e8e8e8);
}

.accordion .card-header h2 {
  font-size: 1rem;
}

.accordion .fa {
  width: 20px;
  margin-right: .25rem;
}

.accordion .card-header a {
  float: left;
  width: 100%;
  cursor: pointer;
}

.accordion .toggle {
  font-size: .8rem;
  line-height: .8rem;
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 14px;
  margin: 0;
}

.accordion .toggle:hover {
  opacity: 1;
}

.accordion .card-body {
  padding: 0;
}

.accordion .list-group-item {
  border-radius: 0;
  border-width: 1px 0 1px 0;
  padding-left: 30px;
  background: #d6dbe0;
  font-weight: 500;
}

.accordion .list-group-item:hover {
  background: #007bff;
}

.accordion .list-group-item:hover a {
  color: #fff !important;
}

.accordion .list-group-item:hover .badge {
  background: #fff;
  color: #007bff;
}

.accordion .list-group-item a {
  color: #61656b;
  display: block;
}

.accordion .list-group-item .badge {
  float: right;
  min-width: 36px;
}

.accordion .rotate {
  transform: rotate(180deg);
}

.table-responsive {
  margin: 20px 0;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 115px;
}

table.table tr th:last-child {
  width: 115px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.edit {
  color: #FFC107;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

.choose {
  color: blue;
  margin: 0 0 0 0;
}

.momo {
  width: 65.3%;
  margin: 3.9% 0 5% 7.9%;
}

.paypalIcon {
  width: 93%;
  margin: 0 0 0 9.6%;
}

.paypal {
  width: 65%;
  margin: 0 0 0 8%;
}

.warning {
  color: red;
  margin-top: 3%;
}

.notification {
  color: blue;
  margin: 7% 0 0 23.5%;
}

.tick {
  width: 60px;
}
