<!--<div class="row">-->
<!--  <div class="col-6">-->
<!--    <app-camera-management></app-camera-management>-->
<!--  </div>-->
<!--  <div class="col-6">-->
<!--    <app-camera-management></app-camera-management>-->
<!--  </div>-->
<!--</div>-->

<!--quản lí xe ra vào-->
<div class="container-fluid bg-white p-4">
  <!--    car image and time-->
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="row d-flex justify-content-center">
        <h1>Xe vào</h1>
      </div>
      <div class="row">
          <app-camera-management></app-camera-management>
      </div>
      <div class="row form-group mt-2">
        <div class="col-6">
          <label>Thời gian vào</label>
          <input type="text" class="form-control" placeholder="Qua angular nhúng" required="required">
        </div>
        <div class="col-6">
          <label>Ngày</label>
          <input type="date" class="form-control" placeholder="Ngày" required="required">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="row d-flex justify-content-center">
        <h1>Xe ra</h1>
      </div>
      <div class="row">
        <app-camera-management></app-camera-management>
      </div>
      <div class="row form-group mt-2">
        <div class="col-6">
          <label>Thời gian ra</label>
          <input type="text" class="form-control" placeholder="Qua angular nhúng" required="required">
        </div>
        <div class="col-6">
          <label>Ngày</label>
          <input type="date" class="form-control" placeholder="Ngày" required="required">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mb-2">
      <input type="text" class="form-control" placeholder="Biển số xe">
    </div>
    <div class="col-6">
      <button class="btn btn-primary">Tìm xe</button>
      <button class="btn btn-primary">Bản đồ</button>
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Tổng tiền">
    </div>
  </div>
  <!--    car image and time end-->
  <!--form-->
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Họ tên">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Tầng">
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Vị trí đỗ">
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Loại xe">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Ngày bắt đầu">
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Biển số">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <input type="text" class="form-control" placeholder="Ngày kết thúc">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 d-flex justify-content-end">
    <div class="col-3 d-flex justify-content-end">
      <button class="btn btn-primary">Lưu thông tin</button>
    </div>
  </div>
  <!--    form end-->
</div>
