<div class="container">
  <div class="row justify-content-center">
    <h2>Thông tin vị trí đỗ</h2>
  </div>
  <form [formGroup]="slotInfoForm">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Tầng</mat-label>
          <input matInput formControlName="floor" readonly>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Số thứ tự</mat-label>
          <input matInput formControlName="slotNumber" readonly>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Trạng thái</mat-label>
          <input matInput readonly value="Còn trống" *ngIf="!slotInfoForm.value.status">
          <input matInput readonly value="Đã có xe đỗ" *ngIf="slotInfoForm.value.status">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Đăng kí</mat-label>
          <input matInput readonly value="Chưa đăng kí" *ngIf="!slotInfoForm.value.reserved">
          <input matInput readonly value="Đã đăng kí" *ngIf="slotInfoForm.value.reserved">
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="slotInfoForm.value.plateNumber">
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Biển số</mat-label>
          <input matInput formControlName="plateNumber" readonly>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="example-full-width">
          <mat-label>Loại xe</mat-label>
          <input matInput formControlName="carType" readonly>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="slotInfoForm.value.enterDate">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <mat-label>Ngày giờ vào</mat-label>
          <input matInput type="datetime-local" formControlName="enterDate" readonly>
        </mat-form-field>
      </div>
    </div>
    <button (click)="getId(slotInfoForm.controls.id.value)">Lấy id chơi</button>
  </form>
</div>
