
<div class="modal-content">
    <div class="modal-header">
      <h2 class="offset-3 text-primary">THÔNG TIN KHÁCH HÀNG</h2>
    </div>
    <div class="modal-body">
      <div>
<!--      <form>-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Họ tên</label>
            <input disabled type="text" class="form-control" id="name" placeholder="{{customer.fullName}}">
          </div>
          <div class="form-group col-md-4">
            <label>Ngày sinh</label>
            <input disabled type="text" class="form-control" id="birthday"
                   placeholder="{{customer.birthday| date: 'dd/MM/yyyy'}}">
          </div>
          <div class="form-group col-md-4">
            <label>Giới tính</label>
            <input disabled type="text" class="form-control" id="gender" placeholder="{{customer.gender}}">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>CMND</label>
            <input disabled type="text" class="form-control" id="idCard" placeholder="{{customer.identityNumber}}">
          </div>
          <div class="form-group col-md-4">
            <label>Số điện thoại</label>
            <input disabled type="text" class="form-control" id="phone" placeholder="{{customer.phone}}">
          </div>
          <div class="form-group col-md-4">
            <label>Email</label>
            <input disabled type="text" class="form-control" id="email" placeholder="{{customer.email}}">
          </div>
        </div>
        <div class="form-group">
          <label>Địa chỉ</label>
          <input disabled type="text" class="form-control" id="inputAddress" placeholder="{{customer.address}}">
        </div>
      </div>
<!--      </form>-->

<!--      <br>-->
<!--      <h3>Danh sách xe</h3>-->
<!--      <br>-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          <table class="table table-bordered">-->
<!--            <thead>-->
<!--            <tr class="title-customer bg-info">-->
<!--              <th class="text-center">ID XE</th>-->
<!--              <th class="text-center">LOẠI XE</th>-->
<!--              <th class="text-center">LOẠI VÉ</th>-->
<!--              <th class="text-center">THỜI HẠN VÉ</th>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <td class="text-center">A12</td>-->
<!--              <td class="text-center">Mecedes</td>-->
<!--              <td class="text-center">Tháng VIP</td>-->
<!--              <td class="text-center">1/1/2021-2/2/2021</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->
<!--          <div class="clearfix d-flex justify-content-end">-->
<!--            <ul class="pagination">-->
<!--              <li class="page-item"><a href="#" class="page-link">Trang trước</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--              <li class="page-item active"><a href="#" class="page-link">2</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">3</a></li>-->
<!--              <li class="page-item"><a href="#" class="page-link">Trang sau</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    <div class="modal-footer">
      <button mat-dialog-close class="btn btn-secondary mr-3">Hủy</button>
    </div>
  </div>



